<div class="container">
<div class="advanced_saerch">
<% @podcasts.each do |p| %>
  <p class="card">
  <%= p["title_original"] %>
  ||
  <%= image_tag p["image"], class: "image_card" %> ||
  <%= p["description_original"]%> ||
  lenght <%= p["audio_length_sec"] %> sec||
  <%= link_to "Listen podcast", p["audio"] %>
  </p>

<% end %>
</div>
</div>