<div class="container">
<div class="advanced_saerch">
<% @podcasts.each do |p| %>
  <p class="card">
  <%= p["title_original"] %>
  ||
  <%= image_tag p["image"] %> ||
  <%= p["description_original"] %> |
  lenght <%= p["audio_length_sec"] %> sec|
  <%= link_to "Audio", p["audio"] %>
  </p>

<% end %>
</div>
</div>