<div class="container">
    <div class="content-card">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <!-- boucle  -->
    <% @contents.each_with_index do |content, index| %>
    <div class="carousel-item <%= index == 0 ? 'active' : "" %>">
      <div class="card">
        <%= image_tag content.preview_picture , class: "card-img-top"%>
          <div class="card-body">
            <div class="card-text-title">
              <%= content.title %>
            </div>
            <div class="card-text-description">
              <%= content.description %>
            </div>
            <div class="card-text-content">
              <%= content.content %>
            </div>
        </div>
      </div>
      </div>
      <% end %>
    <!-- end of boucle  -->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    <!-- Green arrow & like button -->
  </div>
</div>
    <!-- Go to customize content -->
    <div class="customize">
      <a href="/search">Go to customize content</a>
    </div>
</div>