<div class="container">
  <div class="row justify-content" >
    <div class="search-form-check">

      <%= form_with(url: "/advanced-search", method: "get", local:true, class: 'form-container') do %>

        <div class="content">
          <label class="search-format" for="inlineFormCustomSelectPref">What format do you want?</label>
          <div class="article">
            <%= check_box_tag(:article) %>
            <%= label_tag(:article, "ARTICLE") %>
          </div>
          <div class="video">
            <%= check_box_tag(:video) %>
            <%= label_tag(:video, "VIDEO") %>
          </div>
          <div class="podcast">
            <%= check_box_tag(:podcast) %>
            <%= label_tag(:podcast, "PODCAST") %>
          </div>
        </div>

        <div>
          <label class="timesearch" for="inlineFormCustomSelectPref">How much time do yo have ?</label>
            <%= select_tag(:duration, raw('
              <option value="1">Something quick ! (5 minutes max)</option>
              <option value="2">Less than 20 minutes</option>
              <option value="3">I have got all the time in the world !</option>'),
            class: "custom-select my-1 mr-sm-2", id: "inlineFormCustomSelectPref") %>
          <%= hidden_field_tag :search, true %>
        </div>

        <div class="topic">
          <label for="exampleFormControlSelect2">Which topic ?</label>
            <%= select_tag(:category, raw('
              <option value="1">Cinema</option>
              <option value="2">Philosophy</option>
              <option value="3">Science</option>
              <option value="4">Geopolitics</option>
              <option value="5">History</option>
              <option value="6">Video Games</option>
              <option value="7">New Technologies</option>
              <option value="8">Sports</option>
              <option value="9">Geography</option>
              <option value="10">Literature</option>'),
            class: "custom-select my-1 mr-sm-2") %>
          <%= hidden_field_tag :search, true %>
        </div>

        <div class="buttons">
          <div class="submit_button">
            <%= hidden_field_tag :search, 'true' %>
            <%= submit_tag("Search", class: 'search-submit_tag') %>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>

<% content_for(:html_title) { 'Search page | Choose format, time and topic' } %>