<div class="background-advanced">
  <div class="library-container">
    <div class="advanced-search">
      <div class="button-format">
        <a class="button" href="/favorites" role="button">See all</a>
        <a class="button-non-blue" href="/favorites" role="button">Articles</a>
        <a class="button-non-blue" href="/favorites" role="button">Videos</a>
        <a class="button-non-blue" href="/favorites" role="button">Podcast</a>
      </div>
        <% @favorites.each do |favorite| %>
          <% if favorite.content.format == "video"  %>
          <p>
            <div class="card">
              <div class="description-top">
                <div class="video-title-container">
                  <span class="title"><%= favorite.content.title %></span>

                  <span class="video"><%= content_tag(:iframe, '', src: favorite.content.content, class: "iframe-video", height: 315, frameborder: 0) %></span>

                </div>
                  <%= image_tag "video.png", class: "video_btn" %>
              </div>
              <div>
              <span class="description"><%= favorite.content.description %>
                </span>
              <div class="line"></div>
                <div class="card-bottom">
                  <div>
                    <%= link_to "Watch on Youtube", favorite.content.source_url %> ||
                    <span class="duration"><%= distance_of_time_in_words(favorite.content.duration.minutes) %></span>
                  </div>

                  <div class="vector_btn">
                    <%= image_tag "Vector.png", class: "vector" %>
                  </div>
                </div>
              </div>
            </div>
            </p>
          <% elsif favorite.content.format == "article" %>
          <p>
            <div class="card">
              <div class="title-container">
                <%= image_tag favorite.content.preview_picture , class: "image_card"%>
                <div class="text">
                  <span class="title"><%= favorite.content.title %></span>
                  <span class="author-card"> <%= favorite.content.author %> </span>
                </div>
                 <%= image_tag "article.png", class: "article_btn" %>
              </div>
              <div>
                <span class="description"><%= favorite.content.description %></span>
                <div class="line"></div>
                  <div class="card-bottom">
                    <div>
                      <%= link_to "#", class: "home-button" do %>
                      <%= image_tag("play.png", class: "library_btn") %>
                      <% end %>
                      <%= link_to "Read", favorite.content.content.html_safe %> ||
                      <span class="duration"><%= distance_of_time_in_words(favorite.content.duration.minutes) %></span>
                    </div>
                    <div class="vector_btn">
                        <%= image_tag "Vector.png", class: "vector" %>
                    </div>
                  </div>
              </div>
            </div>

            </p>
            <!-- Podcast -->
          <% else %>
            <p>
            <div class="card">
              <div class="title-container">
                <%= image_tag favorite.content.preview_picture , class: "image_card"%>
                <div class="text">
                  <span class="title"><%= favorite.content.title %></span>
                  <span class="author-card"> <%= favorite.content.author %> </span>
                </div>
                 <%= image_tag "audio.png", class: "audio_btn" %>
              </div>
              <span class="description"><%= favorite.content.description %></span>
              <div class="line"></div>

              <div class="card-bottom">
                <div>
                  <%= link_to "#", class: "home-button" do %>
                  <%= image_tag("play.png", class: "library_btn") %>
                  <% end %>
                  <%= link_to "Listen", favorite.content.content.html_safe %> ||
                  <span class="duration"><%= distance_of_time_in_words(favorite.content.duration.minutes) %></span>
                </div>
                <div class="vector_btn">
                  <%= image_tag "Vector.png", class: "vector" %>
                </div>
              </div>
            </div>
            </p>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
