<div class="background-advanced">
  <div class="library-container">
    <div class="advanced-search">
      <h2 class="library-title">My library</h2>
      <div class="button-format">
        <a class="button" href="/favorites" role="button">See all</a>
        <a class="button-non-blue" href="/favorites" role="button">Articles</a>
        <a class="button-non-blue" href="/favorites" role="button">Videos</a>
        <a class="button-non-blue" href="/favorites" role="button">Podcast</a>
      </div>
        <% @favorites.each do |favorite| %>
          <% if favorite.content.format == "video"  %>
          <p>
            <div class="fav-card">
              <div class="description-top">
                <div class="library-video-title-container">
                  <span class="title"><%= favorite.content.title %></span>

                  <span class="video"><%= content_tag(:iframe, '', src: favorite.content.content, class: "iframe-video", frameborder: 0) %></span>

                </div>
                  <%= image_tag "video.png", class: "video_btn" %>
              </div>
              <div>
              <span class="description"><%= favorite.content.description %>
                </span>
              <div class="line"></div>
                <div class="card-bottom-library">
                  <div>
                    <%= link_to "See on YouTube", favorite.content.source_url %> ||
                    <span class="duration"><%= distance_of_time_in_words(favorite.content.duration.minutes) %></span>
                  </div>
                </div>
              </div>
            </div>
            </p>
          <% elsif favorite.content.format == "article" %>
          <p>
            <div class="fav-card">
              <div class="title-container">
                <%= image_tag favorite.content.preview_picture , class: "image_card"%>
                <div class="text">
                  <span class="title"><%= favorite.content.title %></span>
                  <span class="author-card"> <%= favorite.content.author %> </span>
                </div>
                 <%= image_tag "article.png", class: "article_btn" %>
              </div>
              <div>
                <span class="description"><%= favorite.content.description %></span>
                <div class="line"></div>
                  <div class="card-bottom-library">
                    <button type="button" class="button" data-toggle="modal" data-target="#exampleModal-<%=favorite.content.id%>">
                      Read </button>
                      <span class="duration"> || <%= distance_of_time_in_words(favorite.content.duration.minutes) %></span>

                  </div>
              </div>
            </div>
            </p>
            <div class="modal fade" id="exampleModal-<%= favorite.content.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= content_tag(:iframe, '', src: favorite.content.source_url,
                                          width: 350, height: 800, frameborder: 0) %>
                  </div>
                </div>
              </div>
            </div>

            <!-- Podcast -->
          <% else %>
            <p>
            <div class="fav-card">
              <div class="title-container">
                <%= image_tag favorite.content.preview_picture , class: "image_card"%>
                <div class="text">
                  <span class="title"><%= favorite.content.title %></span>
                  <span class="author-card"> <%= favorite.content.author %> </span>
                </div>
                 <%= image_tag "audio.png", class: "audio_btn" %>
              </div>
              <span class="description"><%= favorite.content.description %></span>
              <div class="line"></div>

              <div class="card-bottom-library">
                <div>
                  <%= link_to "#", class: "home-button" do %>
                  <%= image_tag("play.png", class: "library_btn") %>
                  <% end %>
                  <%= link_to "Listen", favorite.content.content.html_safe, class: "fav-listen" %> ||
                  <span class="duration"><%= distance_of_time_in_words(favorite.content.duration.minutes) %></span>
                </div>

              </div>
            </div>
            </p>


          <% end %>
        <% end %>
    </div>
  </div>
</div>
<% content_for(:html_title) { 'Your favorite contents' } %>
