<div class="container">
  <div class="left-section">
    <div class="header">
      <h2 class="animation a1">Forgot your password?</h2>
      <h4 class="animation a2">Enter your email, we'll send you another one</h4>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions", class: "button-form" %>
    </div>
    <% end %>

    <div class="animation a7">
       <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="right-section-password"></div>
</div>



