<div id="home">
<div class="home-container">
    <div class="form-check">
        <%= form_with(url: "/contents", method: "get", local:true, class: 'my_class') do %>
        
        <div class="content">
            <label class="format" for="inlineFormCustomSelectPref">What format do you want?</label>
        
            <div class="article">
                <%= check_box_tag(:format, :article) %>
                <%= label_tag(:article, "ARTICLE") %>
            </div>

            <div class="video">
                <%= check_box_tag(:format, :video) %>
                <%= label_tag(:video, "VIDEO") %>
            </div>

            <div class="podcast">
                <%= check_box_tag(:format, :podcast) %>
                <%= label_tag(:podcast, "PODCAST") %>
            </div>
        </div>

        <div>
            <label class="time" for="inlineFormCustomSelectPref">How much do yo have ?</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Choose...</option>
                <option value="1">Something quick ! (5 minutes max)</option>
                <option value="2">Less than 20 minutes</option>
                <option value="3">I've got all the time in the world !</option>
            </select>
            
        </div>    
        
        <div class="buttons">
            <div class="submit_button">
                <%= hidden_field_tag :search, 'true' %>
                <%= submit_tag("Random search", class: 'submit_tag')%>
            </div>
            <%= link_to "Customize your content ", search_path, class: 'content_tag' %>
        </div>   
      <% end %>
  </div>
</div>
</div>


<%# <h5><%= link_to "Customized search", " " %><h5> 
<%# <h5><%= link_to "Application#Index", "/contents" %><h5> 

<%# <%= link_to "Search", contents_path %>