<div class="head-container">
  <div class="welcome-container">
    <div class="welcome">


        <%= image_tag("elipses.png", class: "elipses") %>


        <div class="welcome-top">
            <p class="name">UnLearning</p>
            <%= image_tag("avatar.jpg", class: "avatar" )%>
        </div>

        <div class="quote">
          <%= @quote.quote %>
          <br>
          <p class="author"><%= @quote.author %></p>
        </div>


        <%= link_to home_path, class: "home-button" do %>

          <button class="go">  Go!</button>
        <% end %>

    </div>
  </div>
</div>

<% content_for(:html_title) { 'Unlearning| Your favorites quotes about learning' } %>
