<!DOCTYPE html>
<html>
<head>
  <title><%= meta_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag %>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= meta_description %>">
  <meta name="keywords" content=" Learn, Education, News, Cinema, Geopolitics, Sience, Knowledge, New skill, Podcasts, Video, Articles, Sport, History, Video Games, Philosophy, New Technologies">
  <meta name="author" content="Darina Kukarina, Cyrille Gawlowski, Laure Duhorane">
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:image" content='<%= image_url('unlearning-fb.png') %>'/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

  <%# <Navbar> %>
  <meta charset="utf-8">
	<meta name="author" content="anonymous">
	<meta name="generator" content="Sublime text3">
	<meta name="robot" content="index, follow">
	<meta http-equiv="refresh" content="">
	<meta name="description" content="This is navigation bar on html page">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keyowrds" content="html, navigation bar, navigation, bar, javascript, content">

</head>

<body>

<%# Navbar %>

      <div class="html-container">
      <div class="html-section">
        <div class="html-project">
          <div class="navigation">
            <nav>
              <ul class="nav-type">
                <li><a href="http://localhost:3000/" target="_blank" class="active">Home</a></li>
                <li><a href="http://localhost:3000/home" target="_blank" class="active1">Search</a></li>
                <li><a href="http://localhost:3000/search" target="_blank" class="active2">Advanced</a></li>
                <li><a href="http://localhost:3000/favorites" target="_blank" class="active3">Library</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <noscript>
      <div class="first-line">
        <div class="linear">
          <div class="line-w5">
            
          </div>
        </div>
      </div>
      </noscript>
<template>
      <div class="flash-fluid">
        <div class="flash-time">
          <div class="flash-GIF">
            
          </div>
        </div>
       </div>
</template>
<noscript>     
      <div class="cyrcle-center">
        <div class="radial-cyrcle">
          
        </div>
      </div>
</noscript>
    </div>
  
    
    <div class="dropdown" id="anotherFunction">
     <div class="drop1">HTML</div>
      <div class="drop2">CSS</div>
      <div class="drop3">Javascript</div>
      <div class="drop4">Sass</div>
    </div>

  <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

</body>
</html>
