<!DOCTYPE html>
<html>
  <head>
    <title>UNLearning | <%= yield(:html_title) if content_for?(:html_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content=" Learn, Education, News, Cinema, Geopolitics, Sience, Knowledge, New skill, Podcasts, Video, Articles, Sport, History, Video Games, Philosophy, New Technologies">
    <meta name="author" content="Darina Kukarina, Cyrille Gawlowski, Laure Duhorane">
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:image" content='<%= image_url('unlearning-fb.png') %>'/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    

    <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

  </body>
</html>